#root {
  background-color: antiquewhite;
}

nav {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(222, 0, 0, 1) 87% rgba(213, 150, 0, 1) 48%,
    rgba(219, 185, 105, 1) 27%,
    rgba(154, 128, 70, 1) 19%,
    rgba(0, 0, 0, 1) 4%
  );
}

#hero {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 4%,
    rgba(154, 128, 70, 1) 19%,
    rgba(219, 185, 105, 1) 27%,
    rgba(213, 150, 0, 1) 48%,
    rgba(222, 0, 0, 1) 87%
  );
}

#hero h1 {
  text-shadow: 1px 1px 10px rgb(252, 250, 241);
}
